-- Adicionar coluna regionais_nps para armazenar regionais NPS selecionadas
ALTER TABLE regional_activities 
ADD COLUMN IF NOT EXISTS regionais_nps JSONB DEFAULT NULL;
-- Comentário na coluna para documentação
COMMENT ON COLUMN regional_activities.regionais_nps IS 'Array JSON das regionais selecionadas para atividades NPS';
